body,
html {
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.bg {
  background-image: url("http://mdbootstrap.com/img/Photos/Others/images/94.jpg");
  height: 100vh;
  opacity: 0.98;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
