body,
html {
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.bg {
  min-height: 100%;
  background-image: url("https://mdbootstrap.com/img/Photos/Others/images/94.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(239, 248, 255, 0.596);
}
